body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000;
    flex-direction: column;
}

video {
    width: 60%;
    height: auto;
    display: none;
    margin-top: 20px;
}

video:first-of-type {
    display: block;
}

#play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

#next-video-button1 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/game.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}

#next-video-button2 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/곰돌이-일기-확인하기.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button2:hover {
    opacity: 0.8;
}

#next-video-button3 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/액자-확인하기.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button3:hover {
    opacity: 0.8;
}


#next-video-button4 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/친구들에게-연락해보기.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button4:hover {
    opacity: 0.8;
}

#next-video-button5 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/친구들-붙잡기.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button5:hover {
    opacity: 0.8;
}

#next-video-button6 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/춤추기.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button6:hover {
    opacity: 0.8;
}

#next-video-button7 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/춤추기.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button7:hover {
    opacity: 0.8;
}

#next-video-button8 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/재봉사에게-전화하기.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button8:hover {
    opacity: 0.8;
}

#next-video-button9 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/곰돌이-상태-문의하기.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button9:hover {
    opacity: 0.8;   
}

#next-video-button10 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/next.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button10:hover {
    opacity: 0.8;
}
#next-video-button199 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/next.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button199:hover {
    opacity: 0.8;
}
#next-video-button11 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/images/next.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button11:hover {
    opacity: 0.8;
}
#next-video-button110 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/그 후의 이야기.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}

#next-video-button110:hover {
    opacity: 0.8;}
    #next-video-button1101 {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 60px;
        background: url('images/그 후의 이야기.png') no-repeat center center;
        background-size: cover;
        border: none;
        cursor: pointer;
        display: none;
    }
    #next-video-button1101:hover {
        opacity: 0.8;}
#next-video-button12 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/next1.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button12:hover {
    opacity: 0.8;
}


#next-video-button13 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/곰돌이-일기-확인하기1.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button13:hover {
    opacity: 0.8;
}

#next-video-button14 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/액자-확인하기1.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button14:hover {
    opacity: 0.8;
}


#next-video-button15 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/친구들에게 연락해보기1.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button15:hover {
    opacity: 0.8;
}

#next-video-button16 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/친구들-붙잡기1.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button16:hover {
    opacity: 0.8;
}

#next-video-button17 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/춤추기1.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button17:hover {
    opacity: 0.8;
}

#next-video-button18 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/춤추기1.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button18:hover {
    opacity: 0.8;
}

#next-video-button19 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/재봉사에게-전화하기1.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button19:hover {
    opacity: 0.8;
}

#next-video-button20 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 60px;
    background: url('images/곰돌이-상태-문의하기1.jpg') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
}
#next-video-button20:hover {
    opacity: 0.8;   
}

